.block{
  width: 100px;
  height: 100px;
  border: 2px solid red;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
}
.row{
  display: flex;
}
.board{
  padding: 100px;
}
